<p>I am creating courses and tutors throgh post request in angularjs.It is there in layouts/application.html.erb</p>
<br/>
<p>on clicking button below it send request to backend.Please review output in browser console in network section</p>
<br/>
<p>to check various test case please modify dummy course data in layouts/application.html.erb</p>
<br/>
<a href="/index"> click link to get courses and its tutor created till now</a>
<br/>
<br/>
<button ng-click="createDummyCourse()">on click it will send post request to create Dummy Courses and its tutor based on dummy data</button>